:root {
  --color-dark: #0d0e13;
  --color-white: #fff;
  --color-focus: #036fc7;
  --color-accent: #a8c445;
  --color-secondary: #5d6798;
  --bg-main: #11131c;
  --bg-secondary: #171a26;
  --color-warning: #ff361b;
}
