.game {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  background-color: var(--color-dark);
  border-radius: 10px;
  &__wrap {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__top {
    display: grid;
    grid-template-columns: minmax(min-content, 350px) 1fr;
    grid-template-rows: min-content min-content 1fr;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 20px;
  }
  &__poster {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    object-fit: cover;
  }
  &__screenshots {
    grid-column: 1;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 350px;
    gap: 10px;
  }
  &__screenshot {
    object-fit: cover;
  }
  &__text {
    grid-column: 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: min-content 1fr max-content;
    gap: 20px;
  }
  &__name {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 900;
  }
  &__description {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
  &__subinfo {
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: start;
    padding: 15px;
    background-color: var(--color-accent-2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    &_item {
      text-transform: uppercase;
      font-family: Dewi, sans-serif;
      letter-spacing: 1px;
      font-size: 14px;
    }
    &_span {
      text-transform: none;
      font-family: Inter;
    }
    &_genre {
      background-color: var(--color-accent);
      border-radius: 5px;
      padding: 3px;
    }
  }
  &__system {
    grid-column: 1;
    grid-row: 3;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    &_title {
      border-bottom: 2px solid var(--color-accent);
      font-size: 16px;
      text-transform: uppercase;
      font-family: Dewi;
      letter-spacing: 2px;
    }
    &_list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &_item {
      color: var(--color-secondary);
    }
    &_result {
      color: var(--color-white);
    }
  }
  &__back {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    padding: 0;
    position: relative;
    align-self: flex-start;
    font-family: Dewi, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--color-accent);
      opacity: 0;
      left: 0;
      bottom: 0px;
      transition: all var(--base-animation);
    }
    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(5px);
      }
    }
  }
  &__error {
    margin: 0;
    font-family: Dewi, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    &_span {
      color: var(--color-warning);
    }
  }
}
